.logo{
    display: flex;
    background-color: #12326B;
    padding: 1px auto;
    width: auto;
    height: auto;
}
.logo-text{
    display: block;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0 auto; 
    width: auto;
    height: auto;
}
.logo-text h1{
    font-size: 60px;
}
.logo-text h2{
    font-size: 30px;
}
.menu a{
    color: white;
}
.menu{
    background-color: #12326B;
    font-family: 'Alegreya SC', Times, serif;
    font-size: 20px;
    display: flex;
    color: white;
    justify-content: center;
    width: auto;
    height: auto;
}
.menu span{
    margin: 0 5rem;
    width: auto;
}
.bottom{
    text-align: center;
    display: block;
    font-family: 'Alegreya SC', Times, serif;
    background-color: #12326B;
    color: white;
    height: max-content;
}

.slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.image{
    position: relative;
    display: flex;
}
.prev-img,.next-img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.prev-img{
    left: 0;
}
.next-img{
    right: 0;
}
.obj-img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    object-fit: contain;
    display: inline-block;
}