.logo{
    background-color: #12326B;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 20px;
}
.menu{
    background-color: #12326B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
}
